.meanings {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 20px;
    scrollbar-width: thin !important;
    height: 55vh;
    border: 4px dotted #40407a;
    border-radius: 14px;
    padding: 10px 20px;
    overflow-x: hidden;
}

.subTitle {
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

@media (max-width: 900px) {
    .meanings {
        overflow: scroll;
        overflow-x: hidden;
        height: 60vh;
    }
}

.singleMean {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 7px 15px;
    margin: 6px 0;
}