.menubar {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.icons {
    padding: 8px
}

/* Footer area */
.footer{
    text-align:center;
    padding: 20px 10px;
}
.footerLink{
    padding:10px;
    margin-left: 3px;
}
.footerLine{
    text-decoration: none;
}